body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Padauk', sans-serif;
}

.container {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    text-transform: capitalize;
}

h3 {
    color: yellowgreen;
    text-transform: capitalize;
}

p {
    color: #4b4b4b;
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
}


/* ------------------------------------------------ */


/* .d-f {
    display: flex;
} */


/*--------- header section start -----------*/

.header-section {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 10rem;
}

.half-width {
    width: 60%;
}

.half-width-img {
    width: 40%;
}

.half-width p {
    width: 90%;
}

.color-tomato {
    color: tomato;
}

.half-width-img img {
    width: 70%;
}

.buttons {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 2rem;
    background-color: tomato;
    border-radius: 0.5rem;
    line-height: 3.5rem;
}


/*------------ header section end ----------*/


/*------------ about section start -------------*/

.about-me {
    margin-bottom: 10rem;
}

.about-me .half-width h1 {
    margin: 0;
}


/*------------ about section end -------------*/


/*------------ dream section start ----------*/

.dream-section {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 10rem;
}

.dream-section .half-width h1 {
    margin: 0;
}


/*------------- dream section end -----------*/


/*------------- experience section start --------*/

.experience-section {
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-bottom: 18rem;
}

.experience-section div {
    height: 20rem;
}

.experience-section h1 {
    display: block;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

#pro {
    width: 40%;
    border-radius: 0.3rem;
    margin-right: 3rem;
    padding: 4rem;
    box-shadow: 6px 8px 40px #11111173;
}

#pro {
    border-left: 5px solid;
    border-image: linear-gradient( #FA705B, #fa705b);
    border-image-slice: 1;
}

#noob {
    width: 40%;
    border-radius: 0.3rem;
    margin-left: 3rem;
    padding: 4rem;
    box-shadow: 6px 8px 40px #11111173;
}

#noob {
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}


/*------------- experience section end ---------*/


/*---------- contact me section start ------------*/

.contact-me {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 10rem;
}

.contact-me h1 {
    display: block;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.contact-me input {
    background: transparent;
    display: block;
    width: 70%;
    padding: 1rem 1rem;
    margin-bottom: 10px;
    border: 1px solid #80808038;
    border-radius: 0.5rem;
}

#f-img {
    width: 40%;
}

#m-form {
    width: 60%;
}

#msg {
    width: 72.9%;
    background: transparent;
    border: 1px solid #80808038;
    border-radius: 0.5rem;
}


/*------------- contact me section start --------*/


/*------- footer start ---------*/

footer {
    height: 5rem;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
}


/*-------- footer end --------*/