body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Padauk', sans-serif;
}

.container {
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
}

h1 {
    margin: 0;
    font-size: 3rem;
    text-transform: uppercase;
}

h3 {
    /* color: #ff6347af; */
    color: #0c2461;
    text-transform: capitalize;
}

p {
    color: #4b4b4b;
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}


/* ------------------------------------------------ */


/* .d-f {
  display: flex;
} */


/*--------- header section start -----------*/

.header-section {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 10rem;
}

.half-width {
    width: 60%;
}

.half-width-img {
    width: 40%;
}

.half-width p {
    width: 90%;
}

.h-ding {
    width: 5px;
    height: 6.9rem;
    margin-top: 15px;
    border-left: 3px solid;
    border-radius: 0.3rem;
    margin-left: 3rem;
    padding-left: 0.5rem;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
}

.color-tomato {
    color: #ff6347;
}

.half-width-img img {
    width: 70%;
}

.buttons {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 1.5rem;
    background-color: tomato;
    border-radius: 0.5rem;
    line-height: 3.5rem;
}

.scroll {
    font-size: 1.3rem;
    line-height: 8rem;
    display: block;
    color: #4b4b4b;
}


/*------------ header section end ----------*/


/*------------- experience section start --------*/

.experience-section {
    margin-bottom: 10rem;
}


/* .experience-section div {

} */

.experience-section h1 {
    text-align: center;
    display: block;
    margin-right: 5rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
}

#pro {
    background-color: #b8e994;
    width: 30%;
    margin-right: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

#pro2 {
    background-color: #78e08f;
    width: 30%;
    margin-right: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

#pro3 {
    background-color: #38ada9;
    width: 30%;
    margin-right: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

#pro,
#pro2,
#pro3,
img {
    display: block;
    /* margin: auto; */
    width: 35%;
}


/*------------- experience section end ---------*/


/*------------ about section start -------------*/

.about-me {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom: 10rem;
}

.about-me .half-width h1 {
    margin: 0;
}


/*------------ about section end -------------*/


/*------------ dream section start ----------*/

.dream-section {
    margin-bottom: 10rem;
}

.dream-section .half-width h1 {
    margin: 0;
}


/*------------- dream section end -----------*/


/*---------- contact me section start ------------*/

.contact-me {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 10rem;
}

.contact-me h1 {
    /* display: block; */
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.contact-me input {
    background: transparent;
    display: block;
    width: 70%;
    padding: 1rem 1rem;
    margin-bottom: 10px;
    border: 1px solid #80808038;
    border-radius: 0.5rem;
}

#f-img {
    width: 50%;
}

#f-img img {
    width: 75%;
}

#m-form {
    width: 50%;
}

#msg {
    width: 72.9%;
    background: transparent;
    border: 1px solid #80808038;
    border-radius: 0.5rem;
}

.c-buttons {
    display: block;
    width: 10%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    padding: 0.2rem 1.5rem;
    background-color: tomato;
    border-radius: 0.5rem;
    line-height: 3.5rem;
}


/*------------- contact me section start --------*/


/*------- footer start ---------*/

footer {
    background-color: #000000ef;
    color: #eeeeeeb7;
    text-align: center;
}

footer p {
    margin: 0;
    color: #eeeeeeb7;
}


/*-------- footer end --------*/